* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('fONDO1.jpeg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: moveBackground 20s ease-in-out infinite; 
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    color: white;
    font-size: 45px;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    color: white;
    text-decoration: none;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0; 
    }
    50% {
        background-position: 100px 0; 
    }
    100% {
        background-position: 0 0; 
    }
}


